<!-- {% load static %}

<!doctype html>
<html lang="en">
    <head>
        comment this <!- Required meta tags ->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        comment this <!- Bootstrap CSS ->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Genesis</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item ">
                    <a class="nav-link" href="javascript:{ document.getElementById('logout').submit() }">Logout</a>
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token%}
                    <input type="hidden">
                    </form>
                </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <h1>Where finding processors, made easy!</h1>

        {% comment %} {% block content %} {% endcomment %}

        {% comment %} {% endblock %} {% endcomment %}
        
        comment this<!- Option 1: Bootstrap Bundle with Popper ->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Staging Template">
        <meta name="keywords" content="Staging, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Genesis | Home</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script> {% endcomment %}
        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'products/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'products/css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'products/css/elegant-icons.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'products/css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'products/css/slicknav.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'products/css/slick.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'products/css/style.css' %}" type="text/css">
    </head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Offcanvas Menu Begin -->
        <div class="offcanvas-menu-overlay"></div>
        <div class="offcanvas-menu-wrapper">
            <div class="offcanvas__logo">
                <a href="#"><img src="{% static 'products/img/logo.png' %}" alt=""></a>
            </div>
            <div id="mobile-menu-wrap"></div>
            <div class="offcanvas__widget">
                {% if user.is_authenticated %}
                <a class="nav-link" href="javascript:{ document.getElementById('logout').submit() }">Logout</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token%}
                    <input type="hidden">
                </form>
                {% else %}
                <span>Login or Signup</span>
                <h4><a href="{% url 'login'%}" style="color:white">Login</a> | <a href="{% url 'signup'%}" style="color:white">Signup</a></h4>
                {% endif %}
            </div>
        </div>
        <!-- Offcanvas Menu End -->

        <!-- Header Section Begin -->
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <!-- <a href="#"><img src="img/logo.png" alt=""></a> -->
                            <a href="#" class="text-light" style="font-size:35px">Genesis<span class="text-warning" style="font-size: 40px;">.</span></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'product'%}">Products</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Project Details</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__widget">
                            <h3>{{user.firstname}}</h3>
                            {% if user.is_authenticated %}
                                <a class="nav-link text-light" href="javascript:{ document.getElementById('logout').submit() }">Logout</a>
                                <form id="logout" method="POST" action="{% url 'logout' %}">
                                    {% csrf_token%}
                                    <input type="hidden">
                                </form>
                            {% else %}
                                <span>Login or Signup</span>
                                <h4><a href="{% url 'login'%}" class="text-light">Login</a> | <a href="{% url 'signup'%}" class="text-light">Signup</a></h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </header>
        <!-- Header Section End -->

        <div></div>

        {% block content %}

        {% endblock %}


        <!-- Footer Section Begin -->
        <footer class="footer set-bg" data-setbg="{% static 'products/img/footer-bg.jpg' %}">
            <div class="container">
                <div class="footer__top">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="footer__top__text">
                                <h2>Ready To Work With Us?</h2>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="footer__top__newslatter">
                                <form action="#">
                                    <input type="text" placeholder="Enter your email...">
                                    <button type="submit"><i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <a href="#" class="text-light" style="font-size:35px">Genesis<span class="text-warning" style="font-size: 40px;">.</span></a>
                            </div>
                            <p>7176 Blue Spring Lane <br />Santa Monica, CA 90403</p>
                            <ul>
                                <li>Info.colorlib@gmail.com</li>
                                <li>+84 123 456 789</li>
                            </ul>
                            <div class="footer__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h6>Company</h6>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Works</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h6>Services</h6>
                            <ul>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Interior Design</a></li>
                                <li><a href="#">Exterior Design</a></li>
                                <li><a href="#">Planning</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__address">
                            <h6>Get In Touch</h6>
                            <p>7176 Blue Spring Lane <br />Santa Monica, CA 90403</p>
                            <ul>
                                <li>Info.colorlib@gmail.com</li>
                                <li>+84 123 456 789</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="row">
                        <div class="col-lg-8 col-md-7">
                            <div class="copyright__text">
                                <p>Copyright © <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <span class="text-light">Colorlib</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <div class="copyright__widget">
                            <a href="#">Terms of use</a>
                            <a href="#">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src="{% static 'products/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'products/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'products/js/jquery.slicknav.js' %}"></script>
        <script src="{% static 'products/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'products/js/slick.min.js' %}"></script>
        <script src="{% static 'products/js/main.js' %}"></script>
    </body>

</html>