{% extends "base.html" %}
{% load static %}
{% block content %}
            <!-- Hero Section Begin -->
        <section class="hero">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="https://images.pexels.com/photos/2582932/pexels-photo-2582932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    <div class="hero__text">
                        <h2>Looks are great. What we have INSIDE is better.</h2>
                        <a href="#" class="primary-btn">See Intel Processors</a>
                        <a href="#" class="more_btn">Discover more</a>
                        <div class="hero__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{% static 'products/img/hero/hero-1.jpg' %}">
                    <div class="hero__text">
                        <h2>Quality is not only our standard.</h2>
                        <a href="#" class="primary-btn">See AMD Processors</a>
                        <a href="#" class="more_btn">Discover more</a>
                        <div class="hero__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-num" id="snh-1"></div>
            <div class="slider__progress"><span></span></div>
        </section>
        <!-- Hero Section End -->

        <!-- About Section Begin -->
        <section class="about spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about__text">
                            <div class="section-title">
                                <span>who are we</span>
                                <h2>We propose and discuss design rules</h2>
                            </div>
                            <div class="about__para__text">
                                <p>Metasurfaces are generally designed by placing scatterers in periodic or pseudo-periodic
                                    grids. We propose and discuss design rules for functional metasurfaces with randomly
                                placed.</p>
                                <p>Anisotropic elements that randomly sample. Quisque sit amet nisl ante. Fusce lacinia non
                                tellus id gravida. Cras neque dolor, volutpat et hendrerit et.</p>
                            </div>
                            <a href="#" class="primary-btn normal-btn">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__pic">
                            <div class="about__pic__inner">
                                <img src="{% static 'products/img/about-pic.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section End -->

        <!-- Project Section Begin -->
        <section class="project">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <span>Our works</span>
                            <h2>Latest projects</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="project__slider owl-carousel">
                        <div class="col-lg-3">
                            <div class="project__slider__item set-bg" data-setbg="{% static 'products/img/project/project-1.jpg' %}">
                                <div class="project__slider__item__hover">
                                    <span>interiors</span>
                                    <h5>Lower River Street Astoria</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="project__slider__item set-bg" data-setbg="{% static 'products/img/project/project-2.jpg' %}">
                                <div class="project__slider__item__hover">
                                    <span>interiors</span>
                                    <h5>Lower River Street Astoria</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="project__slider__item set-bg" data-setbg="{% static 'products/img/project/project-3.jpg' %}">
                                <div class="project__slider__item__hover">
                                    <span>interiors</span>
                                    <h5>Lower River Street Astoria</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="project__slider__item set-bg" data-setbg="{% static 'products/img/project/project-4.jpg' %}">
                                <div class="project__slider__item__hover">
                                    <span>interiors</span>
                                    <h5>Lower River Street Astoria</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="project__slider__item set-bg" data-setbg="{% static 'products/img/project/project-2.jpg' %}">
                                <div class="project__slider__item__hover">
                                    <span>interiors</span>
                                    <h5>Lower River Street Astoria</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Project Section End -->

        <!-- Services Section Begin -->
        <section class="services spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Our specialization</span>
                            <h2>What we do</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="services__item">
                            <img src="img/services/services-1.png" alt="">
                            <h4>Interior Design</h4>
                            <p>As you might expect of a company that began as a high-end interiors contractor, we pay strict
                            attention.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="services__item">
                            <img src="img/services/services-2.png" alt="">
                            <h4>Office Design</h4>
                            <p>Our commitment to exceptional quality has never wavered. To day ranks as one of the most
                            highly-regarded construction.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="services__item">
                            <img src="img/services/services-3.png" alt="">
                            <h4>Home Design</h4>
                            <p>Interdisciplinary architectural studio with cultural, residential and commercial projects
                            built worldwide.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="services__item">
                            <img src="img/services/services-4.png" alt="">
                            <h4>Design drawing</h4>
                            <p>Creating architectural and creative solutions to help people realize their vision and make
                            them a reality.</p>
                        </div>
                    </div>
                </div>
                <div class="counter__content">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="counter__item">
                                <div class="counter__item__number">
                                    <h2 class="count">85</h2>
                                </div>
                                <div class="counter__item__text">
                                    <h5>Projects<br /> Completed</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="counter__item">
                                <div class="counter__item__number">
                                    <h2 class="count">127</h2>
                                </div>
                                <div class="counter__item__text">
                                    <h5>Happy<br /> Clients</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="counter__item">
                                <div class="counter__item__number">
                                    <h2 class="count">36</h2>
                                </div>
                                <div class="counter__item__text">
                                    <h5>Awards<br /> Received</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="counter__item">
                                <div class="counter__item__number">
                                    <h2 class="count">74</h2>
                                </div>
                                <div class="counter__item__text">
                                    <h5>Cups Of<br /> Coffee</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section End -->

        <!-- Testimonial Section Begin -->
        <section class="testimonial spad set-bg" data-setbg="{% static 'products/img/testimonial/testimonial-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <span>Testimonials</span>
                            <h2>What your clients say</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial__carousel">
                            <div class="testimonial__item">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-xl-9 col-lg-10">
                                        <p>“1. Fast and accurate at solving mental math problems involving addition,
                                            subtraction, multiplication, division and percentages but without high-level
                                            skills that might be required in jobs requiring complex calculation and
                                        analysis.”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial__item">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-xl-9 col-lg-10">
                                        <p>“2. Fast and accurate at solving mental math problems involving addition,
                                            subtraction, multiplication, division and percentages but without high-level
                                            skills that might be required in jobs requiring complex calculation and
                                        analysis.”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial__item">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-xl-9 col-lg-10">
                                        <p>“3. Fast and accurate at solving mental math problems involving addition,
                                            subtraction, multiplication, division and percentages but without high-level
                                            skills that might be required in jobs requiring complex calculation and
                                        analysis.”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial__item">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-xl-9 col-lg-10">
                                        <p>“4. Fast and accurate at solving mental math problems involving addition,
                                            subtraction, multiplication, division and percentages but without high-level
                                            skills that might be required in jobs requiring complex calculation and
                                        analysis.”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial__item">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-9">
                                        <p>“5. Fast and accurate at solving mental math problems involving addition,
                                            subtraction, multiplication, division and percentages but without high-level
                                            skills that might be required in jobs requiring complex calculation and
                                        analysis.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-7 col-sm-10 ">
                        <div class="testimonial__client">
                            <div class="testimonial__client__item add">
                                <div class="testimonial__client__pic">
                                    <img src="{% static 'products/img/testimonial/ta-1.png' %}" alt="">
                                </div>
                                <div class="testimonial__client__text">
                                    <h5>Renee Calhoun</h5>
                                    <span>CEO Woolley</span>
                                </div>
                            </div>
                            <div class="testimonial__client__item">
                                <div class="testimonial__client__pic">
                                    <img src="{% static 'products/img/testimonial/ta-2.png' %}" alt="">
                                </div>
                                <div class="testimonial__client__text">
                                    <h5>Renee Calhoun</h5>
                                    <span>CEO Woolley</span>
                                </div>
                            </div>
                            <div class="testimonial__client__item">
                                <div class="testimonial__client__pic">
                                    <img src="{% static 'products/img/testimonial/ta-3.png' %}" alt="">
                                </div>
                                <div class="testimonial__client__text">
                                    <h5>Renee Calhoun</h5>
                                    <span>CEO Woolley</span>
                                </div>
                            </div>
                            <div class="testimonial__client__item">
                                <div class="testimonial__client__pic">
                                    <img src="{% static 'products/img/testimonial/ta-4.png' %}" alt="">
                                </div>
                                <div class="testimonial__client__text">
                                    <h5>Renee Calhoun</h5>
                                    <span>CEO Woolley</span>
                                </div>
                            </div>
                            <div class="testimonial__client__item">
                                <div class="testimonial__client__pic">
                                    <img src="{% static 'products/img/testimonial/ta-5.png' %}" alt="">
                                </div>
                                <div class="testimonial__client__text">
                                    <h5>Renee Calhoun</h5>
                                    <span>CEO Woolley</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="logo__carousel owl-carousel">
                            <div class="logo__carousel__item">
                                <a href="#"><img src="{% static 'products/img/logo/logo-1.png' %}" alt=""></a>
                            </div>
                            <div class="logo__carousel__item">
                                <a href="#"><img src="{% static 'products/img/logo/logo-2.png' %}" alt=""></a>
                            </div>
                            <div class="logo__carousel__item">
                                <a href="#"><img src="{% static 'products/img/logo/logo-3.png' %}" alt=""></a>
                            </div>
                            <div class="logo__carousel__item">
                                <a href="#"><img src="{% static 'products/img/logo/logo-4.png' %}" alt=""></a>
                            </div>
                            <div class="logo__carousel__item">
                                <a href="#"><img src="{% static 'products/img/logo/logo-5.png' %}" alt=""></a>
                            </div>
                            <div class="logo__carousel__item">
                                <a href="#"><img src="{% static 'products/img/logo/logo-3.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial Section End -->

        <!-- Team Section Begin -->
        <section class="team spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-6">
                        <div class="section-title">
                            <span>Our Team</span>
                            <h2>Meet our team</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="team__btn">
                            <a href="#" class="primary-btn normal-btn">View All</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="team__item set-bg" data-setbg="{% static 'products/img/team/team-1.jpg' %}">
                            <div class="team__text">
                                <div class="team__title">
                                    <h5>Dolores Webster</h5>
                                    <span>CEO & Founder</span>
                                </div>
                                <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                    porta leo, non tincidunt mauris condimentum eget. Vivamus non turpis elit. Aenean
                                ultricies nisl sit amet.</p>
                                <div class="team__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team__item set-bg" data-setbg="{% static 'products/img/team/team-2.jpg' %}">
                            <div class="team__text">
                                <div class="team__title">
                                    <h5>Dana Vaughn</h5>
                                    <span>Architect</span>
                                </div>
                                <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                    porta leo, non tincidunt mauris condimentum eget. Vivamus non turpis elit. Aenean
                                ultricies nisl sit amet.</p>
                                <div class="team__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team__item set-bg" data-setbg="{% static 'products/img/team/team-3.jpg' %}">
                            <div class="team__text">
                                <div class="team__title">
                                    <h5>Jonathan Mcdaniel</h5>
                                    <span>Architect</span>
                                </div>
                                <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                    porta leo, non tincidunt mauris condimentum eget. Vivamus non turpis elit. Aenean
                                ultricies nisl sit amet.</p>
                                <div class="team__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team Section End -->

        <!-- Call To Action Section Begin -->
        <section class="callto spad set-bg" data-setbg="{% static 'products/img/call-bg.jpg' %}">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="callto__text">
                            <span>Why choose us?</span>
                            <h2>Our Ability To Deliver Outstanding Results For Our Clients Starts With Our Team Of Smart.
                            </h2>
                            <a href="#" class="primary-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call To Action Section End -->

        <!-- Latest Section Begin -->
        <section class="latest spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-6">
                        <div class="section-title">
                            <span>Latest News</span>
                            <h2>From our blog</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="latest__btn">
                            <a href="#" class="primary-btn normal-btn">View All</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="latest__item">
                            <div class="latest__item__pic">
                                <img src="{% static 'products/img/blog/latest-1.jpg' %}" alt="">
                            </div>
                            <div class="latest__item__text">
                                <span>Architecture</span>
                                <h4>Target and Amazon Shopping List for Home Stagers</h4>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="latest__item">
                            <div class="latest__item__pic">
                                <img src="{% static 'products/img/blog/latest-2.jpg' %}" alt="">
                            </div>
                            <div class="latest__item__text">
                                <span>Interior</span>
                                <h4>6 Ideas for Team Building and Employee Appreciation for Home Stagers</h4>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="latest__item">
                            <div class="latest__item__pic">
                                <img src="{% static 'products/img/blog/latest-3.jpg' %}" alt="">
                            </div>
                            <div class="latest__item__text">
                                <span>Planning</span>
                                <h4>How to Find the Best Price Structure for Your Home Staging Services</h4>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Latest Section End -->
{% endblock %}